@import url('https://fonts.googleapis.com/css2?family=Itim&family=Mitr:wght@300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #0ea5e9;
  --color-secondary: #38bdf8;
  --dark-bg-primary: #1a1a1a;
  --dark-bg-secondary: #2a2a2a;
  --light-bg-primary: #ffffff;
  --light-bg-secondary: #eeeeee;
}

*{
  font-family: 'Itim', cursive;
  font-family: 'Mitr', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
}


*::-webkit-scrollbar {
  display: none;
}

[data-theme="dark"] body {
  background: var(--dark-bg-primary);
  color: white;
}

[data-theme="light"] body {
  background: var(--light-bg-primary);
  color: black;
}

[data-theme="dark"] .bgSecondary {
  background: var(--dark-bg-secondary);
}

[data-theme="light"] .bgSecondary {
  background: var(--light-bg-secondary);
}

[data-theme="dark"] .navbar-theme {
  border-color: var(--dark-bg-secondary);
  color: white
}

[data-theme="light"] .navbar-theme {
  border-color: var(--light-bg-secondary);
  color: black
}


