SERVER_PORT=4000
MONGODB_URL = mongodb://localhost:27017/HEXCODE_DB
DOMAIN=localhost
CLERK_PUBLISHABLE_KEY=pk_test_******
CLERK_SECRET_KEY=sk_test_****

JUDGE0_API_URL= localhost
JUDGE0_X_AUTH_TOKEN= hexcode

RESEND_API_KEY = re_******